/**************************************************Body er hele siden**************************************************/

body {
    margin: 0 !important;
    padding: 0 !important;
}

main img {
    background-size: auto;
    width: 100%;
}

/************************************************** Navigationsbar Top **************************************************/

nav {
    display: block;
    color: white;
    text-align: right;
    /*    padding: 50px 20px;*/
    text-decoration: none;
    margin: 10px;
    margin-top: 100px;
    padding-top: 10px;
    margin: 1vw;
}

nav a {
    float: right;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    display: inline;
    /* Får tekst og billede i nav til at stå på samme linje */
    font-family: 'Poppins', sans-serif;

}

nav a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
    text-decoration-line: underline;

}

nav img {
    float: left;
    max-height: 35px;
    display: inline;
    /* Får tekst og billede i nav til at stå på samme linje */
    margin-bottom: 2vw;
    /*
    display: block;
    float: left;
    padding: 1px;
    max-height: 35px;
    float: left;
*/
}

/*
.section_wrapper {
    background-image: url(image/lys1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
    padding-top: 120px;
}
*/

/****************************************** Tekst ***********************************************/
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5vw;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    color: white;
}


/****************************************** First Section ***********************************************/

#first_section {
    margin: 0vw;
    margin-bottom: 13vw;
    background-color: white;
}

#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-top: -1vw;
}

#first_section .col {
    display: flex;
    flex-direction: column;

}

#first_section img {
    width: 100px;
}

#first_section video {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#first_section h2 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5vw;
    margin-top: 5vw;

}

/****************************************** De 9 container på Portfoliosiden ***********************************************/

#second_section {
    margin: 0vw;
    padding-bottom: 10vw;
    margin-bottom: 0px;
    background-color: black;

}

#second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-top: -1vw;
}

#second_section .col {
    display: flex;
    flex-direction: column;
}

#second_section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;

}


#second_section p {
    width: 100%;
    color: white;
}

#second_section a {

    text-align: center;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;

}

/****************************************** De 9 container på Portfoliosiden ***********************************************/

#third_section {
    margin: 0vw;
    padding-bottom: 10vw;
    margin-bottom: 0px;
    background-color: black;
}

#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
}

#third_section .col {
    display: flex;
    flex-direction: column;
}

#third_section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

#third_section p {
    width: 100%;
    color: white;
}


/****************************************** De 9 container på Portfoliosiden ***********************************************/

#fourth_section {
    margin: 0vw;
    padding-bottom: 10vw;
    margin-bottom: 0px;
    background-color: black;
}

#fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
}

#fourth_section .col {
    display: flex;
    flex-direction: column;
}

#fourth_section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

#fourth_section p {
    width: 100%;
    color: white;
}

/****************************************** De 9 container på Portfoliosiden ***********************************************/

#fifth_section {
    margin: 0vw;
    padding-bottom: 10vw;
    margin-bottom: 0px;
    background-color: black;
}

#fifth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
}

#fifth_section .col {
    display: flex;
    flex-direction: column;
}

#fifth_section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

#fifth_section p {
    width: 100%;
    color: white;
}

/****************************************** De 9 container på Portfoliosiden ***********************************************/

#sixt_section {
    margin: 0vw;
    padding-bottom: 10vw;
    margin-bottom: 0px;
    background-color: white;
}

#sixt_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
}

#sixt_section .col {
    display: flex;
    flex-direction: column;
}

#sixt_section .col_cv {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 8px #888888;
    transition: 0.5s;
    margin-bottom: 2vw;
    margin-top: 5vw;

}

.col_cv:hover {
    transform: scale(1.2);

}

#sixt_section .col img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 300px;
    margin-bottom: 2vw;
    margin-top: 5vw;
}


#sixt_section h2 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-top: 8vw;

}

#sixt_section p {
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;

}

/*
#fifth_section p {
    width: 50%;
    color: white;
}
*/

/************************************************** COL1 **************************************************/

.col1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    display: block;
}

.col1:hover {
    transform: scale(1.2);

}

.col2 {
    background-color: black;
}



/************************************************** FOOTER **************************************************/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;

}

.footer_tekst {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.footer_logo {
    height: 30px;
    width: auto;
    margin-top: 10px;
}

.iconer {
    height: 40px;
    width: auto;
    margin: 3px 3px 3px 3px;

}
