  /************************************************** Dette er regler til Mobile **************************************************/

  .hidden {
      opacity: 0;
      transform: translateX(-100%);
  }

  #menuknap {
      font-size: 25px;
      display: inline-block;
      color: black;
      padding-right: 10px;
  }

  #menu {
      list-style-type: none;
      transition: transform 0.3s;
      transform-origin: top left;
      padding-top: 10px;

  }

  #menu a {
      list-style-type: none;
      transition: transform 0.3s;
      transform-origin: top left;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      font-weight: 200;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      padding-right: 1vw;
      margin: 1vw;
      margin-top: 2vw;

  }



  @media (min-width:600px) {
      #menuknap {
          display: none;
      }

      #menu {
          display: block;
          color: white;
          text-align: right;
          /*    padding: 50px 20px;*/
          text-decoration: none;
          margin: 1px;
          margin-top: 1px;
          padding-top: 1px;
          margin: 1vw;
          transform: translateX(0);
          opacity: 1;
          padding-top: 1px;
      }

      #menu li {
          display: inline-block;
      }

      #menu a {
          float: right;
          color: black;
          /*    padding: 5px;*/
          padding-bottom: 16px;
          padding-right: 20px;
          text-decoration: none;
          font-size: 20px;
          display: inline;
          margin-top: 17px;
          /* Får tekst og billede i nav til at stå på samme linje */
          font-family: 'Raleway', sans-serif;
          /*    font-family: 'Poppins', sans-serif;*/

      }

      nav img {
          float: left;
          max-height: 60px;
          display: inline;
          /* Får tekst og billede i nav til at stå på samme linje */
          margin-bottom: 3vw;
      }

  }

  /************************************************** Body er hele siden - Main er alt indhold **************************************************/

  body {
      margin: 0 !important;
      padding: 0 !important;

  }

  main img {
      background-size: auto;
      width: 100%;
  }

  /************************************************** Navigationsbar Top **************************************************/

  nav {
      display: block;
      background-color: white;
      text-align: right;
      /*    padding: 50px 20px;*/
      text-decoration: none;
      margin: 10px;
      margin-top: 100px;
      padding-top: 10px;
      margin: 1vw;
  }

  nav a {
      float: right;
      color: black;
      /*    padding: 5px;*/
      padding-bottom: 16px;
      padding-right: 20px;
      text-decoration: none;
      font-size: 20px;
      display: inline;
      /* Får tekst og billede i nav til at stå på samme linje */
      font-family: 'Open Sans Condensed', sans-serif;
      /*    font-family: 'Poppins', sans-serif;*/

  }

  nav a:hover {
      color: black;
      background-color: transparent;
      text-decoration: none;
      text-shadow: 5px 5px 10px black;

  }

  nav img {
      float: left;
      max-height: 35px;
      display: inline;
      /* Får tekst og billede i nav til at stå på samme linje */
      margin-top: 2vw;
  }

  /****************************************** Tekst ***********************************************/

  h1 {
      color: white;
      text-align: center;
      font-size: 30px;
      /*    font-family: 'Poppins', sans-serif;*/
      font-family: 'Raleway', sans-serif;
      margin-top: 5vw;
  }

  h2 {
      color: black;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      /*    font-family: 'Poppins', sans-serif;*/
  }

  h3 {
      width: 100%;
      color: white;
      font-family: 'Raleway', sans-serif;
  }

  /****************************************** Forside - 1 Sektion ***********************************************/

  #first_section {
      margin: 0vw;
      margin-bottom: 13vw;
      background-color: white;
  }

  #first_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
      margin-top: -1vw;
  }

  #first_section .col {
      display: flex;
      flex-direction: column;

  }

  #first_section img {
      width: 100px;
  }

  #first_section video {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  #first_section h2 {
      color: black;
      text-align: center;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 5vw;
      margin-top: 5vw;
  }


  /****************************************** Portfolio - 2 Sektion ***********************************************/

  #second_section {
      margin: 0vw;
      padding-bottom: 3vw;
      margin-bottom: 0vw;
      background-image: linear-gradient(black, #FF6F61);
      /*     background-color: black;*/
      /*     background: linear-gradient(to top, #fb4080 40%, #ebb523 22%, #58d27c 10%);*/
      /*     background-image: linear-gradient(90deg, #FFFFFF, #000000, #FFFFFF);*/

  }

  #second_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
      margin-top: -1vw;
  }

  #second_section .col {
      display: flex;
      flex-direction: column;
  }

  #second_section img {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 80px;
      padding-bottom: 0px;

  }


  #second_section p {
      font-size: 14px;
      width: 100%;
      color: white;
      font-family: 'Roboto Slab', serif;
  }



  #second_section a {
      text-align: center;
  }

  .center {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      text-align: left;
  }

  /****************************************** Portfolio - 3 Sektion ***********************************************/

  #third_section {
      margin: 0vw;
      padding-bottom: 3vw;
      margin-bottom: 0vw;
      background-image: linear-gradient(#FF6F61, black);
      /*     background-color: black;*/

  }

  #third_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
  }

  #third_section .col {
      display: flex;
      flex-direction: column;
  }

  #third_section img {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 80px;
      padding-bottom: 0px;
  }

  #third_section p {
      font-size: 14px;
      width: 100%;
      color: white;
      font-family: 'Roboto Slab', serif;
  }


  /****************************************** Portfolio - 4 Sektion ***********************************************/

  #fourth_section {
      margin: 0vw;
      padding-bottom: 3vw;
      margin-bottom: 0vw;
      background-image: linear-gradient(black, #FF6F61);
      /*     background-color: black;*/

  }

  #fourth_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
  }

  #fourth_section .col {
      display: flex;
      flex-direction: column;
  }

  #fourth_section img {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 80px;
      padding-bottom: 0px;
  }

  #fourth_section p {
      font-size: 14px;
      width: 100%;
      color: white;
      font-family: 'Roboto Slab', serif;
  }

  /****************************************** Portfolio - 5 Sektion ***********************************************/

  #fifth_section {
      margin: 0vw;
      padding-bottom: 3vw;
      margin-bottom: 0vw;
      background-image: linear-gradient(#FF6F61, black);
      /*     background-color: black;*/
  }

  #fifth_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
      margin-bottom: 10vw;
  }

  #fifth_section .col {
      display: flex;
      flex-direction: column;
  }

  #fifth_section img {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 80px;
      padding-bottom: 20px;
  }

  #fifth_section p {
      font-size: 14px;
      width: 100%;
      font-family: 'Roboto Slab', serif;
      color: white;
  }

  /****************************************** Om - 6 Sektion ***********************************************/

  #sixt_section {
      margin: 0vw;
      padding-bottom: 10vw;
      margin-bottom: 0px;
      background-color: white;
  }

  #sixt_section .section_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
  }

  #sixt_section .col {
      display: flex;
      flex-direction: column;
  }

  #sixt_section .col_cv {
      width: 35%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 5px 10px 8px #888888;
      transition: 0.5s;
      margin-bottom: 2vw;
      margin-top: 5vw;

  }

  .col_cv:hover {
      transform: scale(1.2);

  }

  #sixt_section .col img {
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 300px;
      margin-bottom: 2vw;
      margin-top: 5vw;
  }


  #sixt_section h2 {
      color: black;
      text-align: center;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
      margin-top: 8vw;

  }

  #sixt_section p {
      color: black;
      text-align: center;
      font-size: 18px;
      font-family: 'Roboto Slab', serif;
      line-height: 25px;
  }


  /************************************************** COL1 - Er alle Links i Portfolio **************************************************/

  .col1 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      transition: 0.5s;
      display: block;
  }

  .col1:hover {
      transform: scale(1.2);

  }

  .col2 p {
      color: white;
      text-align: center;
      font-family: 'Roboto Slab', serif;
  }



  /************************************************** FOOTER **************************************************/

  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      height: 100px;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;

  }


  .iconer {
      height: 40px;
      width: auto;
      margin: 3px 3px 3px 3px;
      display: inherit;

  }

  .iconer:hover {
      filter: invert(50%);

  }
